<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.promotion.core.dao.CourseDao">
     <!-- 根据类目的id查询要删除的课程ID -->
     <select id="findByCategoryId" parameterType="int" resultType="int">
         SELECT courseId FROM course WHERE categoryId=#{0}
     </select>
     <!-- 根据自身的ID删除信息 -->
     <delete id="delete" parameterType="int">
         DELETE FROM course WHERE courseId=#{0}
     </delete>
     <resultMap type="CourseCategoryDto" id="CourseCategoryDtoResultMap">
          <id column="courseId" property="courseId"/>
          <result column="courseName" property="courseName"/>
          <result column="courseDescribe" property="courseDescribe"/>
          <result column="enabledCourse" property="enabledCourse"/>
          <result column="enabledPaper" property="enabledPaper"/>
          <association property="category" javaType="category">
               <id column="categoryId" property="categoryId"/>
               <result column="categoryName" property="categoryName"/>
          </association>
     </resultMap>
     <!-- 模糊查询/查询全部(分页) -->
     <select id="findByCourseNameOrAllPage" parameterType="Map" resultMap="CourseCategoryDtoResultMap">
        SELECT courseId,courseName,courseDescribe,enabledCourse,enabledPaper,ca.categoryId,ca.categoryName
        FROM course c,category ca 
        WHERE c.categoryId=ca.categoryId
        <if test="courseName!=null and courseName != ''">
             AND courseName LIKE #{courseName}
        </if>
        <if test="size !=null and start !=null">
             limit #{start},#{size}
        </if>
     </select>
     <!-- 添加总条数 -->
     <select id="findByCourseNameOrAllCount" resultType="int">
        SELECT count(1) 
        FROM course 
        <if test="courseName!=null and courseName != ''">
             AND courseName LIKE #{courseName}
        </if>
     </select>
     <!-- 添加 -->
     <insert id="save" parameterType="Course">
         INSERT INTO course(courseName,courseDescribe,enabledCourse,enabledPaper,categoryId)
         values(#{courseName},#{courseDescribe},#{enabledCourse},#{enabledPaper},#{categoryId});
     </insert>
     <!-- 修改 -->
     <update id="update" parameterType="Course">
         UPDATE course SET courseName=#{courseName},courseDescribe=#{courseDescribe},
         enabledCourse=#{enabledCourse},enabledPaper=#{enabledPaper},categoryId=#{categoryId} 
         WHERE courseId=#{courseId}
     </update>
     <!-- 查询全部信息 -->
     <select id="findAll" resultType="Course">
          SELECT courseId,courseName 
          FROM course
     </select>
</mapper>
