<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.promotion.core.dao.ProductDao">
	
    <select id="findProduct" parameterType="Map" resultType="Product">
        select productId,productName,productDescription,productPrice,
        productEffectiveDate,enabled,browseNumber,purchaseTimes,category
        from product
        <where>
            <if test="productName!=null and productName != ''">
                and productName like #{productName}
            </if>
            
        </where>
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
    </select>

    <select id="getTotalProduct" parameterType="Map" resultType="Long">
        select count(*) from product
        <where>
            <if test="productName!=null and productName!='' ">
                and productName like #{productName}
            </if>
        </where>
    </select>

    <insert id="addProduct" parameterType="Product">
        insert into product(productName,productDescription,productPrice,
        productEffectiveDate,enabled,browseNumber,purchaseTimes,category)
        values(#{productName},#{productDescription},#{productPrice},
        #{productEffectiveDate},#{enabled},#{browseNumber},
        #{purchaseTimes},#{category})
    </insert>

    <update id="updateProduct" parameterType="Product" >
        update product
        <set>
            <if test="productName!=null and productName!='' ">
                `productName`=#{productName},
            </if>
            <if test="productDescription!=null and productDescription!='' ">
                `productDescription`=#{productDescription},
            </if>
            <if test="productPrice!=null and productPrice!='' ">
                `productPrice`=#{productPrice},
            </if>
            <if test="productEffectiveDate!=null and productEffectiveDate!='' ">
                `productEffectiveDate`=#{productEffectiveDate},
            </if>
            <if test="enabled!=null and enabled!='' ">
                `enabled`=#{enabled},
            </if>
            <if test="browseNumber!=null and browseNumber!='' ">
                `browseNumber`=#{browseNumber},
            </if>
            <if test="purchaseTimes!=null and purchaseTimes!='' ">
                `purchaseTimes`=#{purchaseTimes },
            </if>
            <if test="category!=null and category!='' ">
                `category`=#{category},
            </if>
        </set>
        where `productId`=#{productId}
    </update>

    <delete id="deleteProduct" parameterType="Integer">
        delete from product
        where productId=#{productId}
    </delete>
    <!-- 查询全部 -->
    <select id="findAll" resultType="Product">
      select productId,productName,productDescription,
      productPrice,productEffectiveDate,enabled,
      browseNumber,purchaseTimes,category
      from product
    
    </select>
</mapper> 