<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.promotion.core.dao.RoleDao">
    <!-- 分页查找所有  和搜索-->
    <select id="findRole" parameterType="Map" resultType="SRole">
        select roleId,roleName,roleDescribe,enabled from s_role
        <where>
            <if test="roleName!=null and roleName!='' ">
                and roleName like #{roleName}
            </if>
          
        </where>
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
    </select>
  <!-- 计数 -->
    <select id="getTotalRole" parameterType="Map" resultType="Long">
        select count(*) from s_role
        <where>
            <if test="roleName!=null and roleName!='' ">
                and roleName like #{roleName}
            </if>
        </where>
    </select>
   <!-- 添加角色 --> 
      <insert id="addSRole" parameterType="SRole">
        insert into s_role(roleName,roleDescribe,enabled)
        values(#{roleName},#{roleDescribe},#{enabled})
    </insert>
    <!-- 修改角色 -->
     <update id="updateSRole" parameterType="SRole" >
        update s_role
        <set>
            <if test="roleName!=null and roleName!='' ">
                `roleName`=#{roleName},
            </if>
            <if test="roleDescribe!=null and roleDescribe!='' ">
                `roleDescribe`=#{roleDescribe},
            </if>
            <if test="enabled!=null and enabled!='' ">
                `enabled`=#{enabled},
            </if>
           
        </set>
        where `roleId`=#{roleId}
    </update>
    <!-- 删除角色 -->
    <delete id="deleteSRole" parameterType="Integer">
        delete from s_role
        where roleId=#{roleId}
    </delete>
    <!-- 查询所有 -->
    <select id="findAll" resultType="SRole">
    select roleId,roleName,roleDescribe,enabled from s_role
    
    </select>
</mapper> 