<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.promotion.core.dao.Shop_ContentDao">
     <!-- 根据类型和contentId删除 -->
     <delete id="delete">
         DELETE FROM shop_content WHERE contentId=#{contentId} AND type=#{type}
     </delete>
</mapper>
