<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.promotion.core.dao.Shop_ContentDao">
     <!-- productId删除 -->
     <delete id="delete">
         DELETE FROM shop_content WHERE productId=#{0}
     </delete>
     <!-- 根据contentId查询productId -->
     <select id="findByContentId"  resultType="product">
          SELECT productId  FROM shop_content WHERE contentId=#{0} AND type=#{1}
     </select>
</mapper>
