<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.promotion.core.dao.TeacherDao">
     <!-- 查询的内容 -->
     <sql id="findkey">
        tid,tname,sex,age,hobbies
     </sql>
     <!-- 添加 -->
     <insert id="save" parameterType="teacher">
        insert into teacher(tname,sex,age,hobbies) values(#{tname},#{sex},#{age},#{hobbies})
     </insert>
     <!-- 根据Id删除 -->
     <delete id="delete" parameterType="int">
        delete from teacher where tid=#{0}
     </delete>
     <!-- 根据Id进行修改 -->
     <update id="update"  parameterType="teacher">
        update teacher set tname=#{tname},sex=#{sex},age=#{age},hobbies=#{hobbies} where tid=#{tid}
     </update>
     <!-- 分页查询和模糊查询 -->
     <select id="findAll" parameterType="Map" resultType="teacher">
         select 
         <include refid="findkey"></include>
         from teacher 
         <where>
             <if test="tname">
                 and tname like CONCAT(CONCAT('%',#{tname},'%'))
             </if>
         </where>
         <if test="page !=null and rows !=null">
            limit #{page},#{rows}
         </if>
     </select>
     <!-- 查询全部的总条数 -->
     <select id="findAllCount" parameterType="Map" resultType="int">
         select count(1) from teacher 
         <where>
             <if test="tname">
                 and tname like CONCAT(CONCAT('%',#{tname},'%'))
             </if>
         </where>
     </select>
     <!-- 根据ID查询信息 -->
     <select id="findByTid" parameterType="int">
         select 
         <include refid="findkey"></include>
         from teacher 
         where tid =#{0}
     </select>
</mapper>