<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.promotion.core.dao.VideoCategoryDao">
     <!-- 根据类目的id查询要删除的课程ID -->
     <select id="findByCourseId" parameterType="int" resultType="int">
         SELECT videoCategoryId FROM videocategory WHERE courseId=#{0}
     </select>
     <!-- 根据自身的ID删除信息 -->
     <delete id="delete" parameterType="int">
         DELETE FROM videocategory WHERE videoCategoryId=#{0}
     </delete>
     <!-- 添加 -->
     <insert id="save" parameterType="VideoCategory">
        INSERT INTO videocategory(videoCategoryName,videoCategoryDescribe,courseId) 
        values(#{videoCategoryName},#{videoCategoryDescribe},#{courseId});
     </insert>
     <!-- 修改 -->
     <update id="update" parameterType="VideoCategory">
         UPDATE videocategory 
         SET
         <if test="videoCategoryName!=null and videoCategoryName!=''">
            videoCategoryName=#{videoCategoryName},
         </if>  
         <if test="videoCategoryDescribe!=null and videoCategoryDescribe!=''">
             videoCategoryDescribe=#{videoCategoryDescribe},
         </if>  
        <if test="courseId!=null and courseId!=''">
             courseId=#{courseId}
         </if> 
         WHERE videoCategoryId=#{videoCategoryId}
     </update>
     <resultMap type="VideoCategoryCourseDto" id="videoCategoryCategoryDtoResultMap">
         <id column="videoCategoryId" property="videoCategoryId"/>
         <result column="videoCategoryName" property="videoCategoryName"/>
         <result column="videoCategoryDescribe" property="videoCategoryDescribe"/>
         <association property="course" javaType="course">
             <id column="courseId" property="courseId"/>
             <result column="courseName" property="courseName"/>
         </association>
     </resultMap>
     <!-- 根据name模糊查询/查询全部  分页 -->
     <select id="findByNameOrAllPage" parameterType="Map" resultMap="videoCategoryCategoryDtoResultMap">
         SELECT videoCategoryId,videoCategoryName,videoCategoryDescribe,c.courseId,courseName
         FROM videocategory v,course c
         WHERE v.courseId=c.courseId 
         <if test="videoCategoryName!=null and videoCategoryName!=''">
              AND videoCategoryName like #{videoCategoryName}
         </if>
         <if test="pageSize !=null and start !=null">
            limit #{start},#{pageSize}
         </if>
     </select>
     <!-- 统计个数 -->
     <select id="findByNameOrAllCount" parameterType="string" resultType="int">
         SELECT COUNT(1) 
         FROM videocategory
         <where>
            <if test="videoCategoryName!=null and videoCategoryName!=''">
               AND videoCategoryName like #{videoCategoryName}
            </if>
         </where>
     </select>
     <!-- 查询全部 -->
     <select id="findAll" resultType="VideoCategory">
     select videoCategoryId,videoCategoryName,
     videoCategoryDescribe,courseId
     from videocategory
     
     </select>
</mapper>
